{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Hello!</title>
  </head>
<body>
    <main role="main" class="container">
    <div class="row">
    <div class="col-md-4">
      <div class="content-section">
          <button onclick="location.href=`{% url 'logout' %}`">Logout</button>
          <h3>Enter room id</h3>
                <form method="POST" action="" enctype='multipart/form-data'>
             {% csrf_token %}
             {{form.as_table}}
            <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </main>
</body>